Simulado da A2 de Linguagens de Programação – 17/11/2017
--
Professor: Renato Rocha Souza  
--

Nome do Aluno(a):

In [1]:
meu_nome = input('Entre com o seu nome completo: ')
print('Olá, {}!'.format(meu_nome))
print('Bom trabalho!')

Entre com o seu nome completo: Felipe Vieira Costa
Olá, Felipe Vieira Costa!
Bom trabalho!

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import requests
import random
import re
import string
import time
import pymysql
import sqlite3
import getpass
import pandas.io.sql as psql
import networkx as nx
from IPython.display import clear_output
%matplotlib inline

Questão 1 (2,0 pontos)  


Utilizando Python, crie um banco de dados no sqlite que guarde a seguinte estrutura:


| id (integer) | nome (text)    | data_nascimento (text)    | peso (real) | altura (real) | imc (real) | Gênero  (text) |
|--------------|----------------|---------------------------|-------------|---------------|------------|----------------|
| 1            | Anitta         | "1980-10-10 00:00:00.000" | 56          | 160           | 0          | POP            |
| 2            | Caetano Veloso | "1956-01-23 00:00:00.000" | 57          | 165           | 0          | MBP            |
| 3            | Roberto Carlos | "1943-05-12 00:00:00.000" | 69          | 172           | 0          | MPB            |
| 4            | Ivete Sangalo  | "1973-05-21 00:00:00.000" | 60          | 170           | 0          | AXÉ            |
| 5            | Wesley Safadão | "1982-09-07 00:00:00.000" | 77          | 181           | 0          | POP            |


Após a estrutura gerada, crie um script que calcule e corrija o IMC da tabela pela fórmula:  


$\large IMC = \frac{Peso}{Altura^{2}}$


Veja: https://sqlite.org/datatype3.html

In [23]:
conn = sqlite3.connect('cadastro.db')
cur = conn.cursor()

cur.execute('''CREATE TABLE cantores
singer_id SMALLINT UNSIGNED AUTO_INCREMENT
nome VARCHAR(20)
data_nascimento DATE
peso VARCHAR(3)
altura VARCHAR(3)
imc VARCHAR(4)
gênero VARCHAR(3);''')

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 18))

OperationalError: near "singer_id": syntax error

In [ ]:
cur.execute('''INSERT INTO cantores
(nome,data_nascimento,peso,altura,gênero)
VALUES ('Anitta','1980-10-10','56','160','POP');''')

In [ ]:
cur.execute('''INSERT INTO cantores
(nome,data_nascimento,peso,altura,gênero)
VALUES ('Caetano Veloso','1956-01-23','57','165','MPB');''')

In [ ]:
cur.execute('''INSERT INTO cantores
(nome,data_nascimento,peso,altura,gênero)
VALUES ('Roberto Carlos','1943-05-12','69','172','MPB');''')

In [ ]:
cur.execute('''INSERT INTO cantores
(nome,data_nascimento,peso,altura,gênero)
VALUES ('Ivete Sangalo','1973-05-21','60','170','AXÉ');''')

In [ ]:
cur.execute('''INSERT INTO cantores
(nome,data_nascimento,peso,altura,gênero)
VALUES ('Wesley Safadão','1982-09-07','77','181','POP');''')

In [ ]:
cur.executemany('''UPDATE cantores
SET imc = peso/((altura/100)*(altura/100)''')

Questão 2 (2.0 pontos)  

Conecte ao banco SQLite e responda:
- Quantos artistas/bandas (artists) possuem nomes (Name) começando com a letra "L"?
- Quais as 5 faixas (tracks) mais longas?
- Quais são os nomes (Name) dos artistas (artists) que as gravaram?
- Qual o gênero (Genre) que possui, em média, as faixas (tracks) mais longas?
- Qual o gênero (Genre) que possui, em média, as faixas (tracks) mais caras?

In [16]:
conn = sqlite3.connect('../../Dados/chinook.sqlite')
cur = conn.cursor()

In [21]:
cur.execute('PRAGMA table_info(artists);')
cur.fetchall()

[(0, 'ArtistId', 'INTEGER', 1, None, 1),
 (1, 'Name', 'NVARCHAR(120)', 0, None, 0)]

Questão 3 (3.0 pontos)  (questão desafiante!!)

Com o banco de dados da questão anterior, crie um grafo utilizando o pacote networkx do Python, de modo que os artistas estejam ligados ao gênero a que pertence a maioria de suas músicas. Diferencie com atributos os nós de artista e de gênero.

https://networkx.github.io/  
https://networkx.github.io/documentation/stable/tutorial.html#directed-graphs 
https://networkx.github.io/documentation/stable/tutorial.html#adding-attributes-to-graphs-nodes-and-edges  
https://networkx.github.io/documentation/stable/tutorial.html#drawing-graphs

In [ ]:
# seu código aqui

Questão 4 (1.5 pontos) 

Pedro, coitado, programa em R há muitos anos, mas gostaria de migrar para Python, uma linguagem muito mais poderosa. Ajude-o a converter o código abaixo para Python:

In [3]:
countdown <- function(from)
{
  print(from)
  while(from!=0)
  {
    Sys.sleep(1)
    from <- from - 1
    print(from)
  }
}

countdown(5)

UsageError: Cell magic `%%R` not found.

In [6]:
def countdown(a):
    print(a)
    while a != 0:
        time.sleep(1)
        a -= 1
        print(a)

countdown(60)

60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

Questão 5 (1.5 pontos) 

Vitória é uma excelente programadora em C. Nos últimos tempos - mas isso ela não admitiria - tem se convencido de que Python é uma escolha mais razoável para sua vida acadêmica. Ajude-a a converter o código abaixo para Python:

In [ ]:
#include <stdio.h>
int main()
{
    int n, reversedInteger = 0, remainder, originalInteger;

    printf("Enter an integer: ");
    scanf("%d", &n);

    originalInteger = n;

    // reversed integer is stored in variable 
    while( n!=0 )
    {
        remainder = n%10;
        reversedInteger = reversedInteger*10 + remainder;
        n /= 10;
    }

    // palindrome if orignalInteger and reversedInteger are equal
    if (originalInteger == reversedInteger)
        printf("%d is a palindrome.", originalInteger);
    else
        printf("%d is not a palindrome.", originalInteger);
    
    return 0;
}

In [11]:
n = int(input('Enter an integer: '))
reversedInteger = 0
originalInteger = n
# reversed integer is stored in variable
while n != 0:
    remainder = n % 10
    reversedInteger = reversedInteger*10 + remainder
    n = int(n/10)
# palindrome if originalInteger and reverse Integer are equal
if originalInteger == reversedInteger:
    print('{} is a palindrome.'.format(originalInteger))
else:
    print('{} is not a palindrome.'.format(originalInteger))

Enter an integer: 1234554321
1234554321 is a palindrome.

Questão Bônus (0,5 pontos)  

Alexandrino gosta muito de LISP, mas - poucos sabem - secretamente acalenta o sonho de programar em Python. 
Ajude-o a converter o código abaixo para Python:

In [ ]:
(defun get-max-value (list)
  (let ((ans (first list)))
    (do ((i 1 (1+ i)))
        ((>= i (length list)) ans)
      (when (> (nth i list) ans)
        (setf ans (nth i list))))))

In [14]:
def get_max_value(lista):
    ans = lista[0]
    for i in range(len(lista)-1):
        if lista[i+1] > ans:
            ans = lista[i+1]
    return ans

In [15]:
lista = [2,3,15,3,57,34,7,46,744,5,12,2,4,65,6]
get_max_value(lista)

744